<main class="page">
    <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">FabSoft</div>
    <ul class="nav-links">
      <li><a (click)="usuarios()">Usuários</a></li>
      <li><a (click)="recrutadores()">Recrutadores</a></li>
      <li><a (click)="projetos()">Projetos</a></li>
      <li><a (click)="produtores()">Produtores de Conteúdo</a></li>
      <li><a (click)="cursos()">Cursos</a></li>
    </ul>
  </nav>
 <!-- Form Card -->
  <div class="form-container">
    <h2>{{ recrutador?.id ? 'Editar Recrutador' : 'Novo Recrutador' }}</h2>
    <form (ngSubmit)="salvar()">
      <label for="txtNome">Nome</label>
      <input type="text" id="txtNome" [(ngModel)]="recrutador.nome" name="nome" required>

      <label for="txtNomeEmpresa">Nome da Empresa</label>
      <input type="text" id="txtNomeEmpresa" [(ngModel)]="recrutador.nomeEmpresa" name="nomeEmpresa" required>

      <button type="submit" class="btn-primary">Salvar</button>
    </form>
  </div>
</main>