<main class="page">
  <!-- Top Navbar -->
  <nav class="navbar">
    <div class="logo">FabSoft</div>
    <ul class="nav-links">
      <li><a (click)="usuarios()">Usuários</a></li>
      <li><a (click)="recrutadores()">Recrutadores</a></li>
      <li><a (click)="projetos()">Projetos</a></li>
      <li><a (click)="produtores()">Produtores de Conteúdo</a></li>
      <li><a (click)="cursos()">Cursos</a></li>
    </ul>
  </nav>
    <h2>Usuários</h2>
    <!-- <a routerLink="/usuarios/novo" class="btn btn-primary">NOVO</a> -->
    <a (click)="novo()" class="btn btn-primary">NOVO</a>
      <table class="styled-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>Histórico Profissional</th>
          <th>Qualificações</th>
          <th>Áreas de Interesse</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let umUsuario of listaUsuarios">
          <td>{{umUsuario.nome}}</td>
          <td>{{umUsuario.email}}</td>
          <td>{{umUsuario.historicoProfissional}}</td>
          <td>{{umUsuario.qualificacoes}}</td>
          <td>{{umUsuario.areasDeInteresse}}</td>
          <td class="actions">
            <a (click)="alterar(umUsuario)" class="btn-secondary">✏️</a>
            <a (click)="abrirConfirmacao(umUsuario)" class="btn-danger">🗑️</a>
            <a (click)="mostrarProjetos(umUsuario)" class="btn-info">📂</a>
          </td>
        </tr>
      </tbody>
        <div class="modal fade" #myModal tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir cliente</h5>
                </div>
                <div class="modal-body">
                Confirma a exclusão do cliente?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
                </div>
            </div>
            </div>
        </div>
    </table>
</main>
