<main class="container">
    <h2>Usuários</h2>
    <!-- <a routerLink="/usuarios/novo" class="btn btn-primary">NOVO</a> -->
    <a (click)="novo()" class="btn btn-primary">NOVO</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Histórico Profissional</th>
                <th>Qualificaçoes</th>
                <th>Áreas De Interesse</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umUsuario of listaUsuarios">
                <td>{{umUsuario.nome}}</td>
                <td>{{umUsuario.email}}</td>
                <td>{{umUsuario.historicoProfissional}}</td>
                <td>{{umUsuario.qualificacoes}}</td>
                <td>{{umUsuario.areasDeInteresse}}</td>
                <td><a (click)="alterar(umUsuario)" class="btn btn-secondary">ALTERAR</a></td>
            </tr>
        </tbody>


    </table>
</main>