<main class="page">
  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">FabSoft</div>
    <ul class="nav-links">
      <li><a (click)="usuarios()">Usuários</a></li>
      <li><a (click)="recrutadores()">Recrutadores</a></li>
      <li><a (click)="projetos()">Projetos</a></li>
      <li><a (click)="produtores()">Produtores de Conteúdo</a></li>
      <li><a (click)="cursos()">Cursos</a></li>
    </ul>
  </nav>
<h2 >Recrutadores</h2>

    <a (click)="novo()" class="btn-primary">+ Novo Recrutador</a>

  <!-- Page Content -->
  <div class="container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Empresa</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let umRecrutador of listaRecrutadores">
          <td>{{ umRecrutador.nome }}</td>
          <td>{{ umRecrutador.nomeEmpresa }}</td>
          <td><button class="btn-secondary" (click)="alterar(umRecrutador)">✏️</button></td>
          <td><button class="btn-danger" (click)="abrirConfirmacao(umRecrutador)">🗑️</button></td>
        </tr>
      </tbody>
        <div class="modal fade" #myModal tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir recrutador</h5>
                </div>
                <div class="modal-body">
                Confirma a exclusão do recrutador?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
                </div>
            </div>
            </div>
        </div>
    </table>
    </div>
</main>