<main class="container">
    <div class="card"> 
        <div class="card-body">
          <div class="form-group">
            <label for="txtTitulo">Título</label>
            <input type="text" [(ngModel)]="curso.titulo" class="form-control" id="txtTitulo">
            <label for="txtDescricao">Descrição</label>
            <input type="text" [(ngModel)]="curso.descricao" class="form-control" id="txtDescricao">
            <label for="txtConteudo">Conteúdo</label>
            <input type="text" [(ngModel)]="curso.conteudo" class="form-control" id="txtConteudo">
            <label for="txtProdutor">Produtor</label>
            <select id="txtProdutor" [(ngModel)]="curso.produtor" class="form-select" [compareWith]="comparaProdutores">
            <option *ngFor="let umProdutor of listaProdutores" [ngValue]="umProdutor">{{ umProdutor.nome }}</option>
            </select>
          </div>
          <button (click)="salvar()" class="btn btn-primary">Salvar</button>
        </div>
      </div>
</main>