<main class="container">
    <h2>Produtores de Conteúdo</h2>
    <!-- <a routerLink="/usuarios/novo" class="btn btn-primary">NOVO</a> -->
    <a (click)="novo()" class="btn btn-primary">NOVO</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let umProdutor of listaProdutores">
                <td>{{umProdutor.nome}}</td>
                <td><a (click)="alterar(umProdutor)" class="btn btn-secondary">ALTERAR</a></td>
                <td><a (click)="abrirConfirmacao(umProdutor)" class="btn btn-danger">EXCLUIR</a></td>
                <!--botao excluir -->
            </tr>
        </tbody>
        <div class="modal fade" #myModal tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Excluir recrutador</h5>
                </div>
                <div class="modal-body">
                Confirma a exclusão do produtor?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
                <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
                </div>
            </div>
            </div>
        </div>
    </table>
</main>