    <main class="page">
            <!-- Existing Navbar (Preserved) -->
        <nav class="navbar">
            <div class="logo">FabSoft</div>
            <ul class="nav-links">
            <li><a (click)="usuarios()">Usuários</a></li>
            <li><a (click)="recrutadores()">Recrutadores</a></li>
            <li><a (click)="projetos()">Projetos</a></li>
            <li><a (click)="produtores()">Produtores de Conteúdo</a></li>
            <li><a (click)="cursos()">Cursos</a></li>
            </ul>
        </nav>
        <h2>Projetos</h2>
        <!-- <a routerLink="/usuarios/novo" class="btn btn-primary">NOVO</a> -->
        <a (click)="novo()" class="btn btn-primary">NOVO</a>
<div class="container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Descrição</th>
          <th>Link</th>
          <th>Usuário</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let umProjeto of listaProjetos">
          <td>{{ umProjeto.titulo }}</td>
          <td>{{ umProjeto.descricao }}</td>
          <td><a [href]="umProjeto.link" target="_blank">{{ umProjeto.link }}</a></td>
          <td>{{ umProjeto.usuario.nome }}</td>
          <td><button class="btn-secondary" (click)="alterar(umProjeto)">✏️</button></td>
          <td><button class="btn-danger" (click)="abrirConfirmacao(umProjeto)">🗑️</button></td>
        </tr>
      </tbody>
            <div class="modal fade" #myModal tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Excluir projeto</h5>
                    </div>
                    <div class="modal-body">
                    Confirma a exclusão do projeto?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="fecharConfirmacao()">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="confirmarExclusao()">Sim</button>
                    </div>
                </div>
                </div>
            </div>
        </table>
    </div>
    </main>